{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

<div class="d-flex flex-wrap">
    <section class="p-2" id="intro">
        <p>
            Do an introduction here
        </p>
    </section>

    <form action="/login" method="post">
        <section class=p-2 id="login">
            <h2>login to get your recipe</h2>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </section>
    </form>
</div>

{% endblock %}