{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

<div class="bg-image">      
    <div class="form-outline content back div-center mb-4">
        <form action="/login" method="post">
            <h3>Login</h3>
            <label for="InputUserName">User name</label>
            
            <div class="input-group mb-3">
                <input class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>  
                
            <label for="InputPassword">Password</label>
                
            <div class="input-group mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">    
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>

            
            <h5> -- Haven't Creted an Accont Yet? -- </h5>
            
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>
</div>

{% endblock %}